@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.parent-wrap {
	margin: 0;
	padding: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 26% 74%;
	grid-template-rows: minmax(1180px, 100vh);
}

.side-bar {
	background-color: #F5F4FA;
	padding: 55px 45px 0;
	display: flex;
	flex-direction: column;
	z-index: 1;
	/*height: 100%; /* 100% Full-height */
    /*width: 0;  0 width - change this with JavaScript 
    position: fixed; /* Stay in place */
  	/*top: 0;
  	left: 0;*/
    /*overflow-x: hidden;  Disable horizontal scroll */
    /*transition: 0.5s;  0.5 second transition effect to slide in the sidebar */

}
/*
.side-bar a {
    transition: 0.3s;
}*/

.side-bar > div > a:hover {
  color: #573F7B;
}

/* Position and style the close button (top right corner) 
/*.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}*/

/* The button used to open the sidebar */
/*.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}*/

/*.openbtn:hover {
  background-color: #444;
}*/

.navigation {
	position: relative; /*to position the nav-active-bar absolutely*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 30px 0 auto;
}

a {
	list-style: none;
	text-decoration: none;
}

.nav {
	display: flex;
	justify-content: flex-start;
	margin: 1em 0;
}

.nav p {
	font-family:'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
	color: #7E5AE3;
	margin-left: 50px;
}

.nav-active > img, .nav-active > p  {
	color: #573F7B !important;
}

.nav-active-bar {
	display: none;
	justify-self: flex-end;
}

.icons {
	width: 28px;
	height: 28px;
}

/*------------------------------------*/


.main-cntnt {
	position: relative;
	background-color: #FFFFFF;
	padding: 32px;
	z-index: auto;
	height: 100%;
}

.svg1 {
	position: fixed;
	top: -2%;
	right: 22%;
}

.svg2 {
	position: absolute;
	left: -12%;
	bottom: 36%;
}

.svg3 {
	position: absolute;
	right: 0;
	bottom: 0;	
}

.svg4 {
	position: fixed;
	right: 12%;
	top: 47.1%;
	width: 280px;
	height: 280px;	
}

.dashB-wrap {
	max-width: 96%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dashB-wrap>div {
	margin-bottom: 50px;
}

.row1{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.row1b{
	display: flex;
	justify-content: space-between;
}

.date {
	margin-right: 60px;
}


.row1 p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 64px;
	color: #9272C2;
}

small {
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
}

.user-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-img {
	height: 34px;
	width: 34px;
	margin-right: 7px;
}

.arrow-down {
	margin-left: 7px;
}

.row2 {
	max-width: 752px;
	max-height: 56px;
	display: flex;
	align-items: center;
}

.input {
    width: 336px;
    height: 58px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(178, 178, 178, 0.58);
}

.search-input{
	position: relative;
	display: flex;
}

.search-icon{
	position: absolute;
	right: 3%;
	top: 33%;
}

.filter-wrap, .group-wrap {
	display: flex;
	margin-left: 90px;
	align-items: center;
}

.row3 h2 {
	font-family: 'Poppins', sans-serif; 
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 60px;
	letter-spacing: -0.28px;
	color: #F8444F;
}

.dash-boxes {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 100%;
	position: relative; /*for the absolute positioning of the paginations*/
}

.dash-box {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	padding: 24px 50px;
	background: #FFFFFF;
	box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
	max-height: 138px;
	margin-bottom: 1em;

}

.dash-box {
	font-family:'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: -0.28px;
	color: #9272C2;
}

.user-name {
	grid-row: 1/2;
	grid-column: 1/7;
}

.stack, .skill {
	font-weight: normal;
	color: #573F7B;
}

.stack {
	grid-row: 2/3;
	grid-column: 1/3;
}

.skill {
	grid-row: 2/3;
	grid-column: 3/6;
}

.view-user {
	grid-row: 1/-1;
	grid-column: 7/-1;
	align-items: center;
	justify-content: center;
	display: flex;
	justify-content: space-around;
}

/* Pagination links */
.pagination {
	position: absolute;
	right: 10%;
	bottom: -3.5%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}



/*--------------MEDIA QUERIES--------------------*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}